*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;


}

body{
    margin: 0px;
    background-color: white;
    font-family: Arial Rounded MT ;
}

header{
    margin: 0px;
    padding: 0px;
    height: 95px;
    box-sizing: border-box;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    
}


h1{
    font-size: 3.1em;
}
button{
    font-size: 1.5em;
    font-weight: bold;
}

.containerHeader{
    background-color: white;
    display: inline-block;
    width: 15%;
    height: 100%;
    margin-left: 2%;

}
.containerHeader img{
    height: 97%;
}

.ingresar{
    width: 190px;
    height: 60px;
    display: inline-block;
    margin-right: 30px;
    border: 2px solid #333;
    border-radius: 8px;
    text-align: center;
    background-color: transparent;
    cursor: pointer;

}
.ingresar:hover{
    width: 190px;
    height: 60px;
    display: inline-block;
    
    color: white;
    border-radius: 8px;
    text-align: center;
    background-color: #333;
    cursor: pointer;
}

a {
    text-decoration: none; /* Quita el subrayado */
    color: #333; /* Cambia el color del texto del enlace */
}

.barradivisora{
    height: 5px;
    background: linear-gradient(to right, #692e89 0%, #692e89 33%, #e12a48 33%, #e12a48 66%, #fbbe01 66%, #fbbe01 100%);
    display: block;
}



/*CARRUSEL PRINCIPAL */

.carruselPrincipal {
    margin: 0;
}



.titulo{
    text-align: center;
    font-size: 40px;
    padding-top: 50px;
}


.slider-box{
    display: block;
    width: 100%;
    height: auto;
    margin: 0px auto 0;
    overflow: hidden;
}

.slider-box ul{
    display: flex;
    padding: 0;
    width: 400%;
    margin: 0px;
    animation: slide 20s infinite alternate ease-in-out;
}

.slider-box li{
    width: 100%;
    list-style: none;
    position: relative;
}

.slider-box img{
    width: 100%;
    height: 100%;
}

@keyframes slide{
    0% {margin-left: 0;}
    20% {margin-left: 0;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}

@media (max-width:991px){
    .slider-box{
        width: 100%;
    }
}

@media (max-width:400px){
    header{
        
        align-items: normal;
    }
    .containerHeader{
    background-color: white;
    display: flex;
    width: 15%;
    height: 100%;
    margin-left: 2%;

    }
    .containerHeader img{
    height: 97%;
    }

    .ingresar{
    display: inline-block;
    margin-right: 0px;

    }

    .ingresar:hover{
        width: 120px;
        font-size: 15px;
    }


}

/* FIN EDICION HEADER Y CARRUSEL */
.tramitesYServicios{
    background-color: white;
    display: flex;
    flex-direction: column; /* Cambiado a columna para que los elementos se apilen verticalmente */
    align-items: center;
    width: 100%;
    height: 450px;
}

@media(max-width:1223px){
    .tramitesYServicios{
         min-height: 850px;
    }
    .ingresar{
        width: 120px;
        font-size: 15px;
    }

    .ingresar:hover{
        width: 120px;
        font-size: 15px;
    }
}

.tramitesYServicios h2{
    margin-top: 20px;
    text-align: center;
    color: #black;
    
}

.botonesTramites{
    display: flex;
    flex-wrap: wrap; /* Asegura que los botones se apilen verticalmente */
    justify-content: center;
    width: 85%;
    height: 400px;
    background-color: transparent;
    margin-top: 20px; 
    text-align: center;
    align-content: flex-start;
}

.botonTramite {
    width: 500px; /* Ajusta el ancho de tus botones según sea necesario */
    
    margin: 10px; /* Ajusta el margen entre los botones según sea necesario */
    background-color: transparent; /* Ajusta el color de fondo según sea necesario */
    border: 6px solid #c3c3c3;
    border-radius: 8px;
    display: flex;
    text-align: center;

}

.botonTramite:hover{
    border-width: 6px;
    border-style: solid;
    border-image: linear-gradient(to right, #692e89, #e12a48, #fbbe01); /* Gradiente de tres colores */
    border-image-slice: 1; /* Esto ajusta la división del gradiente */
    border-radius: 8px;
    color:#692e89 ;
    .imagenBotonTramite img{
        transform: scale(1.1);
        transition: transform 0.8s ease;
    }
    .textoBoton h3{
        text-decoration: underline;
    }


}

.imagenBotonTramite{
    width: 25%;
    height: 100%;
    background-color: transparent;
    
}

.imagenBotonTramite img{
    width: 100%;
}

.textoBoton{
    width: 75%;
    height: 100%;
    background-color: transparent;
    margin-bottom:10px;
}

.textoBoton h3{
    margin-top: 10px;
    margin-left: 10px;
    text-align: left;
    font-size: 22px;
    color: #black;
}


.textoBoton p{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: justify;
    font-size: 18px;
    color: #black;
    font-weight: bold;

}

@media(max-width:652px){
    .botonTramite{
        width: -webkit-fill-available;
    }
}

/* FIN BOTONERA PRINCIPAL DE SERVICIOS¨*/

.areasDeGobierno{
    height: 400px;
    background-color: #f6f6f6;
    display: flex;
    align-items: center;
    flex-direction: column;
}

@media(max-width:1130px){
    .areasDeGobierno{
        height: 550px;
    }
}
@media(max-width:753px){
    .areasDeGobierno{
        height: 800px;
    }
}

.areasDeGobierno h2{
    margin-top: 20px;
    text-align: center;

}

.botonesAreas{
    display: flex;
    flex-wrap: wrap; /* Asegura que los botones se apilen verticalmente */
    justify-content: center;
    width: 85%;
    min-height: 240px;
    background-color: transparent;
    margin-top: 20px; 
    text-align: center;
    align-content: flex-start;
}

.botonAreaGobierno {
    justify-content: center;
    width: 300px; /* Ajusta el ancho de tus botones según sea necesario */
    min-height: 50px;
    margin: 10px; /* Ajusta el margen entre los botones según sea necesario */
    background-color: transparent; /* Ajusta el color de fondo según sea necesario */
    /*border: 2px solid #c3c3c3;
    border-radius: 8px;*/
    display: flex;
    text-align: center;
    place-items: center;
    line-height:50px;
    border: 3px solid #c3c3c3;
}

.botonAreaGobierno:hover{
    border: 3px solid; /* Especifica el ancho y tipo de borde */
    border-image: linear-gradient(to right, #692e89, #e12a48, #fbbe01); /* Define el gradiente de colores */
    border-image-slice: 1; /* Ajusta la división del borde */
    text-decoration: underline;
    color: #692e89;
    transform: scale(1.1);
    transition: transform 0.8s ease;
}

.textoBotonArea{
    width: 100%;
    height: 100%;
    background-color: white;
    text-align: center;
}

/*PORTAL DE COMUNICACIONES*/


.portalDeComunicacion{
    height: 400px;
    background-color: #white;
    display: flex;
    align-items: center;
    flex-direction: column;
}

@media(max-width:1365px){
    .portalDeComunicacion{
        height: 700px;
    }
}
@media(max-width:685px){
    .portalDeComunicacion{
        height: 1250px;
    }
}

.portalDeComunicacion h2{
    margin-top: 20px;
    text-align: center;

}

.noticias{
    display: flex;
    flex-wrap: wrap; /* Asegura que los botones se apilen verticalmente */
    justify-content: center;
    width: 85%;
    min-height: 290px;
    background-color: transparent;
    margin-top: 20px; 
    text-align: center;
    align-content: flex-start;
}

.noticia {
    justify-content: center;
    width: 270px; /* Ajusta el ancho de tus botones según sea necesario */
    min-height: 270px;
    margin: 10px; /* Ajusta el margen entre los botones según sea necesario */
    background-color: white; /* Ajusta el color de fondo según sea necesario */
    /*border: 2px solid #c3c3c3;
    border-radius: 8px;*/
    display: grid;
    text-align: center;
    place-items: center;
    border: 3px solid #c3c3c3;
    border-radius: 15px;
}

.noticia:hover {
    border: 3px solid #692e89;
    border-radius: 15px;
    text-decoration: underline;
    text-decoration-color: #692e89;
    color: #692e89;
}

.marcoDeFoto{
    width: 250px;
    height: 150px;
    background-color: black;
    border-radius: 15px;
}

.marcoDeFoto img{
    width: 100%;
    height: 100%;
    border-radius: 15px;

}

.textoNoticia{
    width: 250px;
    height: 100px;
    background-color: transparent;
    text-align: center;
    font-weight: bold;

}

/*FIN PORTAL NOTICIAS*/

.pie{
    height: 250px;
    background-color: #dcdcdc;
    display: flex;
    align-content: center;
    justify-content: space-around;
    align-items: center;
}

.containerLogo {
    width: 550px;
    height: 200px;
    background-color: transparent;
    border-radius: 15px;
}
.containerLogo img{
    height: 100%;
}

.containerRedes {
    width: 400px;
    height: 200px;
    background-color: transparent;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    font-weight: bold;
    text-align: right;
    font-size: 20px;
}

.redesSociales{
    width: 400px;
    height: 60px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 25px;
    font-weight: bold;
}

.contenedorRedSocial{
    width: 50px;
    height: 50px;
    background-color: transparent;
    margin-left: 10px;
}

.contenedorRedSocial img:hover{
    transition: transform 0.8s ease;
    transform: scale(1.1);

}

.contenedorRedSocial img{
    width: 100%;
    height: 100%;
}


@media(max-width:1117px){
    .pie{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 450px;
        justify-items: center;
    }
    .containerLogo{
        margin-top: 10px;
    }
}

@media(max-width:623px){
    .containerLogo img{
        width: 95%;
        height: -webkit-fill-available;
        
    }

    .containerLogo{
        width: 100%;
        display: flex;
        justify-content: center;
        height: auto;
    }

    .containerRedes{
        width: 100%;
        text-align: center;
    }
    .redesSociales{
        width:-webkit-fill-available ;
        justify-content: center;

    }
}