*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;


}

body{
    margin: 0px;
    background-color: white;
    font-family: Arial Rounded MT ;
}

header{
    margin: 0px;
    padding: 0px;
    height: 95px;
    box-sizing: border-box;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    
}


h1{
    font-size: 3.1em;
}
button{
    font-size: 1.5em;
    font-weight: bold;
}

.containerHeader{
    background-color: white;
    display: inline-block;
    width: 15%;
    height: 100%;
    margin-left: 2%;

}
.containerHeader img{
    height: 97%;
}

.ingresar{
    width: 190px;
    height: 60px;
    display: inline-block;
    margin-right: 30px;
    border: 2px solid #333;
    border-radius: 8px;
    text-align: center;
    background-color: transparent;
    cursor: pointer;

}

@media(max-width:447px){
    .ingresar{
    width: 80px;
    height: 60px;
    display: inline-block;
    margin-right: 10px;
    border: 2px solid #333;
    border-radius: 8px;
    text-align: center;
    background-color: transparent;
    cursor: pointer;
    }
    button{
        font-size: small;
    }
}

.ingresar:hover{
    height: 60px;
    display: inline-block;
    
    color: white;
    border-radius: 8px;
    text-align: center;
    background-color: #333;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #333; 
}



.barradivisora{
    height: 5px;
    background: linear-gradient(to right, #692e89 0%, #692e89 33%, #e12a48 33%, #e12a48 66%, #fbbe01 66%, #fbbe01 100%);
    display: block;
}

/* FIN HEADER */




.contenedorPrincipal{
    background-color: #f6f6f6;
    display: flex;
    flex-direction: column; /* Cambiado a columna para que los elementos se apilen verticalmente */
    align-items: center;
    width: 100%;
}

.contenedorTituloParrafo{
    align-content: center;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap; /* Asegura que los botones se apilen verticalmente */
    justify-content: center;
    width: 70%;
    background-color: transparent;
    margin-top: 20px; 
    margin-bottom: 30px;
    justify-content: center;
    align-content: flex-start;
    align-items: flex-start;
    min-height: 200px;
}

.contenedorFoto{
    width: 200px;
    border-radius: 10px;
}

.contenedorFoto img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.contenedorTexto{
    width: 80%;
    min-height: 200px;
}

.botonInicio{
    margin-top: 20px;
    width: 70%;
    align-content: flex-start;
    align-items: flex-start;
}

.botonInicio a{
    color: #692e89;
    text-decoration: underline;
    text-decoration-color: #692e89;
}

.contenedorTituloParrafo h2{
    font-size: 40px;
    margin-top: 20px;
    margin-left: 20px;
}
.contenedorTituloParrafo h3{
    font-size: 30px;;
    margin-left: 20px;
    text-decoration: underline;
    margin-top: 10px;
}

.contenedorTituloParrafo p{
    font-size: 20px;
    margin-left: 20px;
    margin-top: 10px
}

/* FIN PRIMER DE TITULO */


.pie{
    height: 250px;
    background-color: #dcdcdc;
    display: flex;
    align-content: center;
    justify-content: space-around;
    align-items: center;
}

.containerLogo {
    width: 550px;
    height: 200px;
    background-color: transparent;
    border-radius: 15px;
}
.containerLogo img{
    height: 100%;
}

.containerRedes {
    width: 400px;
    height: 200px;
    background-color: transparent;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    font-weight: bold;
    text-align: right;
    font-size: 20px;
}

.redesSociales{
    width: 400px;
    height: 60px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 25px;
    font-weight: bold;
}

.contenedorRedSocial{
    width: 50px;
    height: 50px;
    background-color: transparent;
    margin-left: 10px;
}

.contenedorRedSocial img:hover{
    transition: transform 0.8s ease;
    transform: scale(1.1);

}

.contenedorRedSocial img{
    width: 100%;
    height: 100%;
}


@media(max-width:1117px){
    .pie{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 450px;
        justify-items: center;
    }
    .containerLogo{
        margin-top: 10px;
    }
}

@media(max-width:623px){
    .containerLogo img{
        width: 95%;
        height: -webkit-fill-available;
        
    }

    .containerLogo{
        width: 100%;
        display: flex;
        justify-content: center;
        height: auto;
    }

    .containerRedes{
        width: 100%;
        text-align: center;
    }
    .redesSociales{
        width:-webkit-fill-available ;
        justify-content: center;

    }
}